 @media screen and (max-width:1300px) {
    section {
        padding: 300px 0 ;
        background: #080808;
        width: 100%;
        flex-basis: 100%;
    }

    .section_title {
        margin-bottom: 30px;
    }
        .section_title h2 {
           
            font-size: 40px;
            
        }
     .navbar{
        width:90%
    }

    #menu_bar {
        display: grid;
        color: #fff;
        position: absolute;
        right: 5%;
        top: 20%;
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
    }
    header {
        background: rgba(238,238,238,0);
        border-bottom: 1px solid rgba(238,238,238,0);
        
    }

        .nav_links {
        flex-direction:column;
        position:absolute;
        background:#24292D;
        width:100%;
        left:0;
        padding:0;

    }

        .nav_links li a {
            display: block;
            border-bottom: 1px solid #fff;
            margin: 0 20px;
            color: #ff9400;
            padding: 10px 0;
            border-radius: 0;
        }
        .nav_links li:last-child a {
            
            border-bottom: none;
           
        }
   

    .inner_home {
        
        flex-wrap: wrap;
        flex-direction:column;
       
    }

    .child_home {
        flex-basis: 100%;
        margin: 20%;
        align-items:center;
    }

        .child_home h1 {
            font-size: 40px;
            line-height:45px;
        }

        .child_home h2 {
            font-size: 40px;
           
        }

        .child_home img {
            width: 200px;
            height: auto;
            
        }

    /*projects*/

    .nav_linksprojects {
        flex-direction: column;
        
        background: #24292D;
        width: 100%;
        left: 0;
        padding: 0;
    }

    .nav_linksprojects li a {
        display: block;
        border-bottom: 1px solid #fff;
        margin: 0 20px;
        color: #ff9400;
        padding: 10px 0;
        border-radius: 0;
    }

    .nav_linksprojects li:last-child a {
        border-bottom: none;
    }


    .inner_projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        
       
        outline: none;
    }
    innerprojects_child {
        flex-basis: 100%;
        margin: 100px;
        align-items: center;
    }

    .inner_projects h2 {
        font-size: 40px;
        line-height: 45px;
        color: rgba(238,238,238,0);
    }

    .inner_projects h1 {
        font-size: 40px;
        line-height:45px;
        color: #e0376f;
        position: relative;
        margin-top: 20px;
    }

    .Cube_Runner_Merger {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: #2b2020;
    }

    .imgs {
        justify-content: center;
        margin: 0;
        padding: 50px;
        object-fit: contain;
    }

    .shot_merge_Hypercasual {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: #2b2020;
    }



    .imgs1 {
        justify-content: center;
        margin: 0;
        padding: 50px;
        object-fit: contain;
    }

    .Runner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: #2b2020;
    }



    .imgs2 {
        justify-content: center;
        margin: 0;
        padding: 0;
        object-fit: contain;
    }

    .Akademi-U14-Gamejam {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: #2b2020;
    }



    .imgs3 {
        justify-content: center;
        margin: 0;
        padding: 5px;
        object-fit: contain;
    }

    .adventure_platformer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: #2b2020;
    }



    .imgs4 {
        justify-content: center;
        margin: 0;
        padding: 5px;
        object-fit: contain;
    }

    .platformer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: #2b2020;
    }



    .imgs5 {
        justify-content: center;
        margin: 0;
        padding: 5px;
        object-fit: contain;
    }

    .basic_arcade {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        color: #2b2020;
    }



    .imgs6 {
        justify-content: center;
        margin: 0;
        padding: 0;
        object-fit: contain;
        width: 100%;
    }

    /*career*/
  

    .inner_career {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        outline: none;
        align-items: normal;
    }

    .child_career {
        flex-basis: 100%;
        margin: 20px 0;
    }

        .child_career h1 {
            font-size: 30px;
            color: #e0376f;
            
        }
        .child_career h2 {
            font-size: 20px;
            color: #e0376f;
            margin-bottom: 50px;
        }

    /*skills*/

    .inner_skills {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        outline: none;
        align-items: normal;
        padding: 30px;
    }

    .child_skills {
        flex-basis: 100%;
        margin: 20px 0;
    }

    .inner_skills h1 {
        font-size: 30px;
        color: #e0376f;
        position: center;
        margin: 80px auto;
    }


    /*certifications*/

    .inner_certifications {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        outline: none;
        align-items: normal;
    }

    .child_certifications {
        flex-basis: 100%;
        margin: 20px 0;
    }

    .infos h1 {
        font-size: 30px;
        color: #e0376f;
    }

    .infos h2 {
        font-size: 20px;
        color: #e0376f;
        margin-bottom: 50px;
    }


    /*about*/


    .inner_about {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        outline: none;
        align-items: normal;
    }

    .child_about {
        flex-basis: 100%;
        margin: 5% 0;
    }


        .child_about h1 {
            font-size: 8vw;
            margin: 5% 0 5% 0;
            color: #e0376f;
            position: relative;
        }

    .child_about img {
        display: flex;
        justify-content: space-between;
       
        position: relative;
    }

        .child_about a {
            display: flex;
            justify-content: space-between;
            font-size: 40px;
            margin: 0;
            font-style: oblique;
            text-decoration-line:underline; 
                position: relative;
                width:70%;
            padding: 0;
        }

        .child_about a:hover {
            border: 2px solid #ebf751;
        }
        .child_about.Gmail {
            font-size: 20px;
            width: 70%;
            margin: auto 0;
            color: #e0376f;
            position: relative;
        }

        .child_about.tel {
            font-size: 20px;
            margin: auto 0;
            color: #e0376f;
            position: relative;
            padding: 0;
        }



}