
html{
    scroll-behavior:smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



/* style.css 
body {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #080808;
}

h1 {
    color: #808482;
    font-size: 120px;
}

p {
    color: #808482;
    font-size: 16px;
    line-height: 1.5;
}
*/
img {
    width: 100%;
}

section {
    padding: 300px 0;
    background: #080808;
}
.section_title{
   margin-bottom:30px;
}

.section_title h2{
    position: relative;
    text-align:center;
    color:#fff;
    font-size: 30px;
    transition:all .5s ease-in-out;
}

.section_title h2:hover{
    background-color:#24CAAC;

}
/* header */

header {
     background:rgb(44,37,37);
    border-bottom: 1px solid rgba(238,238,238,0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links{
    display:flex;
    
}

.nav_links li a {
    margin-left:15px;
    color:#fff;
    padding:5px 15px;
    border-radius:5px;
    transition:all .5s ease-in-out;

}
    .nav_links li a:hover {
        background: #24CAAC;
    }

    /*anasayfa*/

.inner_anasayfa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #2b2020;

}
.child_anasayfa {
    flex-basis: 31%;
}
.child_anasayfa h1 {
    font-size:70px;
    color:#e0376f;
    font-style:italic;
}
    .child_anasayfa h2 {
        font-size: 70px;
        color: #8000ff;
        margin: 10px;
        padding-right: 80px;
        position: relative;
    }
    .child_anasayfa img {
        width: 400px;
        height: auto;
        margin: 20px;
        border-radius: 50%;
        position: relative;
    }

        /*projects*/


.inner_projects {
    display: table;
    justify-content: space-between;
    margin: auto;
    
    width: 80%;
    color: #2b2020;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}
.innerprojects_child {
    flex-basis: 31%;

}
.inner_projects h2 {
    font-size: 50px;
    color: #e0376f;
   
}

.Cube_Runner_Merger {
    display: flex;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}



.Cube_Runner_Merger h1 {
    font-size: 50px;
    color: #e0376f;
    
    position: relative;
}
.imgs {
    justify-content: space-around;
    margin: auto;
     
}
.shot_merge_Hypercasual {
    display: flex;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}
.shot_merge_Hypercasual h1 {
    font-size: 50px;
    color: #e0376f;
    
    position: relative;
}

.imgs1 {
    justify-content: space-around;
    margin: auto;
}

.Runner {
    display: flex;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.Runner h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs2 {
    justify-content: space-around;
    margin: auto;
}
.Akademi-U14-Gamejam {
    display: flex;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.Akademi-U14-Gamejam h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs3 {
    justify-content: space-around;
    margin: auto;
}
.adventure_platformer {
    display: flex;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

    .adventure_platformer h1 {
        font-size: 50px;
        color: #e0376f;
        position: relative;
    }

.imgs4 {
    justify-content: space-around;
    margin: auto;
}
.platformer {
    display: flex;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.platformer h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs5 {
    justify-content: space-around;
    margin: auto;
}
.basic_arcade {
    display: flex;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.basic_arcade h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs6 {
    justify-content: space-around;
    margin: auto;
}

/*career*/

.inner_career {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 80px;
    width: 80%;
    color: #fff;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.inner_career {
    flex-basis: 31%;
}
.child_career h1 {
    font-size: 30px;
    color: #e0376f;
    position: relative;
    margin: 50px;
}

/*skills*/

.inner_skills {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 80px;
    width: 80%;
    color: #fff;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.inner_skills {
    flex-basis: 31%;
}

    .inner_skills h1 {
        font-size: 30px;
        color: #e0376f;
        position: relative;
        margin: 50px;
    }


/*certifications*/


.inner_certifications {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 80px;
    width: 80%;
    color: #fff;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.inner_certifications {
    flex-basis: 31%;
}

.infos h1 {
    font-size: 30px;
    color: #e0376f;
    position: relative;
    margin: 50px;
}
.dates h1 {
    font-size: 30px;
    color: #e0376f;
    position: relative;
    margin: 50px;
    padding: 17px;
}


/*about*/


.inner_about {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 80px;
    width: 80%;
    color: #fff;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.inner_about {
    flex-basis: 31%;
}

.child_about h1 {
    font-size: 40px;
    color: #e0376f;
    position: relative;
    margin: 20px;
}
.child_about a {
    font-size: 40px;
   
    position: relative;
    margin: 20px;
}

