
html{
    scroll-behavior:smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



style.css

img {
    width: 100%;
}

section {
    padding: 300px 100px;
    background: #080808;
    width:100%;
}
.section_title{
   margin-bottom:30px;
}

    .section_title h2 {
        position: relative;
        text-align: center;
        color: #ff0000;
        font-size: 70px;
        font-style: italic;
        transition: all .5s ease-in-out;
    }

    .section_title h2:hover {
        background-color: rgba(170, 50, 220, .6);
    }
/* header */

header {
     background:rgb(44,37,37);
    border-bottom: 1px solid rgba(238,238,238,0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}
#menu_bar{
    display:none;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links{
    display:flex;
    
}

    .nav_links li a {
        font-size: 20px;
        margin-left: 15px;
        color: #ff9400;
        font-style: oblique;
        padding: 5px 15px;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .nav_links li a:hover {
        background: #24CAAC;
    }
   

        .nav_links li p:hover {
            background: #24CAAC;
        }

        /*home*/

.inner_home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #2b2020;
}
.child_home {
    flex-basis: 31%;
}
    .child_home h1 {
        font-size: 70px;
        color: #e0376f;
        font-style: italic;
    }
    .child_home h2 {
        font-size: 70px;
        color: #8000ff;
        margin: 10px;
        padding-right: 80px;
        position: relative;
    }
    .child_home img {
        width: 400px;
        height: auto;
        margin: 20px;
        border-radius: 50%;
        position: relative;
    }

        /*projects*/
.navbar_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_linksprojects {
    display: flex;
}

    .nav_linksprojects li a {
        font-size: 20px;
        margin-left: 15px;
        color: #ff9400;
        font-style: oblique;
        padding: 5px 15px;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

        .nav_linksprojects li a:hover {
            background: #24CAAC;
        }


    .nav_linksprojects li p:hover {
        background: #24CAAC;
    }

.inner_projects {
    display: table;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    color: #2b2020;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}
.innerprojects_child {
    flex-basis: 31%;

}
.inner_projects h2 {
    font-size: 50px;
    color: #e0376f;
    color:rgba(238,238,238,0);
}
.inner_projects h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
    margin-top:-20px;
}

.Cube_Runner_Merger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}



.Cube_Runner_Merger h1 {
   
}
.imgs {
    justify-content: space-around;
    margin: auto;
     
}
.shot_merge_Hypercasual {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}
.shot_merge_Hypercasual h1 {
    font-size: 50px;
    color: #e0376f;
    
    position: relative;
}

.imgs1 {
    justify-content: space-around;
    margin: auto;
}

.Runner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.Runner h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs2 {
    justify-content: space-around;
    margin: auto;
}
.Akademi-U14-Gamejam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.Akademi-U14-Gamejam h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs3 {
    justify-content: space-around;
    margin: auto;
}
.adventure_platformer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

    .adventure_platformer h1 {
        font-size: 50px;
        color: #e0376f;
        position: relative;
    }

.imgs4 {
    justify-content: space-around;
    margin: auto;
}
.platformer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.platformer h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs5 {
    justify-content: space-around;
    margin: auto;
}
.basic_arcade {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 300px;
    width: 80%;
    color: #2b2020;
}

.basic_arcade h1 {
    font-size: 50px;
    color: #e0376f;
    position: relative;
}

.imgs6 {
    justify-content: space-around;
    margin: auto;
}

/*career*/

.inner_career {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px auto;
    padding: 90px 200px;
    width: 80%;
    color: #fff;
    align-items: center;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.child_career {
    flex-basis: 70%;
}
    .child_career h1 {
        font-size: 45px;
        color: #e0376f;
        margin: 80px auto;
    }
    .child_career h2 {
        font-size: 30px;
        color: #e0376f;
        margin: 80px auto;
    }

/*skills*/

.inner_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 80px;
    width: 60%;
    color: #fff;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.child_skills {
    flex-basis: 40%;
}

    .inner_skills h1 {
        font-size: 30px;
        color: #e0376f;
        position: relative;
        margin: 50px;
    }


/*certifications*/


.inner_certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 150px 50px;
    width: 90%;
    color: #fff;
    align-items: normal;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.child_certifications {
    flex-basis: 31%;
}

.infos h1 {
    font-size: 45px;
    color: #e0376f;
    margin-bottom: 50px;
}
.infos h2 {
    font-size: 30px;
    color: #e0376f;
    margin-bottom: 50px;
}
 




/*about*/


.inner_about {
    display: flex;
    
    flex-wrap:wrap;
    justify-content: center;
    margin: auto;
    padding: 100px;
    width: 50%;
    color: #fff;
    align-items: center;
    outline: 10px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
}

.child_about {
    flex-basis: 31%;
}


    .child_about h1 {
        font-size: 80px;
        margin: 80px;
        color: #e0376f;
        position: relative;
    }
    .child_about img {
        display: flex;
        justify-content: space-between;
        margin: 80px;
        position: relative;
    }
    .child_about a {
        display: flex;
        justify-content: space-between;
        font-size: 80px;
        font-style: oblique;
        margin: auto;
        padding: 20px 50px;
        position: relative;
        color: #00efff;
    }
    .child_about a:hover {
        
        border: 2px solid #ebf751;
       
    }
    .child_about.Gmail {
        display: grid;
        justify-content: space-between;
    }
    .child_about.tel {
        display: grid;
        justify-content: space-between;
    }


